<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/153d0f55-7e97-4bde-8a9d-27d01f2ba2fe/resourcegroups/StudentAPI20230423161652ResourceGroup/providers/Microsoft.Web/sites/StudentAppService</ResourceId>
    <ResourceGroup>StudentAPI20230423161652ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/153d0f55-7e97-4bde-8a9d-27d01f2ba2fe/resourceGroups/StudentAPI20230423161652ResourceGroup/providers/Microsoft.ApiManagement/service/StudentAPIManagement/apis/StudentAPIManagement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studentappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>29c76288-81ae-4245-b639-a3b2e17724d2</ProjectGuid>
    <MSDeployServiceURL>studentappservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StudentAppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$StudentAppService</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>